# Ignore Node modules and temporary files
node_modules/
.pnpm-store/
dist-ssr/
.DS_Store
.idea/
.vscode/
*.log
*.local
*.cpuprofile

# Exclude specific development or temp directories
explorations/
playground-temp/
temp/

# Ignore Vite and build cache
/docs/.vitepress/cache

# Allow the dist folder for GitHub Pages
!dist/